<mat-tab-group class="kb-editor-tabs">
  <mat-tab label="Cargar Markdown">
    <textarea
      class="kb-editor-textarea"
      [value]="value"
      (input)="setValue($any($event.target).value)"
      placeholder="# Titulo&#10;&#10;Pegue o escriba el contenido Markdown"
    ></textarea>
  </mat-tab>
  <mat-tab label="Modo escritura">
    <div class="split-pane">
      <div class="write-pane">
        <div class="toolbar">
          <button mat-icon-button type="button" title="Negrita" (click)="insert('**', '**')"><mat-icon>format_bold</mat-icon></button>
          <button mat-icon-button type="button" title="Italica" (click)="insert('*', '*')"><mat-icon>format_italic</mat-icon></button>
          <button mat-icon-button type="button" title="Titulo" (click)="insert('## ', '')"><mat-icon>title</mat-icon></button>
          <button mat-icon-button type="button" title="Lista" (click)="insert('- ', '')"><mat-icon>format_list_bulleted</mat-icon></button>
          <button mat-icon-button type="button" title="Codigo" (click)="insert('`', '`', 'codigo')"><mat-icon>code</mat-icon></button>
          <button mat-icon-button type="button" title="Imagen" [disabled]="uploadDisabled" (click)="triggerImageInput()"><mat-icon>image</mat-icon></button>
          <button mat-icon-button type="button" title="Video asociado" [disabled]="uploadDisabled" (click)="triggerVideoInput()"><mat-icon>movie</mat-icon></button>
        </div>
        <textarea
          #textarea
          class="kb-editor-textarea"
          [value]="value"
          (input)="setValue($any($event.target).value)"
          placeholder="Escriba el articulo en Markdown"
        ></textarea>
      </div>
      <div class="preview-pane">
        <markdown [data]="value"></markdown>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Vista previa">
    <article class="markdown-preview">
      <markdown [data]="value"></markdown>
    </article>
  </mat-tab>
</mat-tab-group>

<input #imageInput type="file" accept="image/jpeg,image/png,image/webp" hidden (change)="selectImage($event)">
<input #videoInput type="file" accept="video/mp4,video/webm" hidden (change)="selectVideo($event)">
